@import "./partials/variables";
@import "./partials/reset";



.margin_1 {
    margin-top: 25px;
    margin-left: 100px;
    margin-bottom: 150px;
}

/* modif segun etiq (color texto) */
h1 {
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 25px;
}

h2 {
    font-size: $tamanio-tittle;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: rgba(236, 186, 212, 0.474);
            color: black;
            padding: 2px;
            border-radius: 5px;
}


/* Navegacion */

header  {
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .80);
    z-index: 1000;
}

.nav {
    background-color: rgb(242, 203, 155) ;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: space-around;

    
    .icono_titulo{
        display: flex;
        align-items: center;
        width: 40%;
        padding: 0 20px ;
        gap: 10px;
    }
    .icono {
        display: flex;
        height: 45px;
        width: 45px;
        justify-content: center;
    }
    .nav1titulo {
        display: flex;
        font-weight: bolder;
        font-size: 30px;
        color: rgb(86, 81, 81);
    
    }
    .nav_lista {
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        z-index: 10;
        
        
    }
    .lista {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: normal;
        padding: 10px;
        color: black;
        margin-left: 20px;
    }
}

.icono {
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
}

#check-menu, .nav label {
    display: none;
}



                            /* Presentacion */
                            /* Pagina INICIO */

.inicio-presentacion {
    width: 100%;
    height: 100%;
    background-color: rgba(242, 203, 155, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.presentacion {
    display: flex;

    padding: 0px 50px 50px 50px;
}


.presentacion-img {
    display: flex;
    margin: 0px 20px 0px 150px;    
}

.presentacion-text {
    background-color: white;
    align-items: center;
    
    display: flex;
    width: 50%;
    border: 2px solid;
    border-radius: 30px;

}

.presentacion2 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    
}


                            


p {
    padding: 15px;
    font-size: 20px;
}


/* #arriba3 {color: green}*/
 


/* Modif. por Class  (tamaño de texto)*/ 



.text {
    font-size: 18px;
}

/* Bordes redondeados */
.borde-redondo {
    border-radius: 30px;}

/* Modif. del tamaño de imagen */
.img-chica {
    width: 300px;
    height: 300px;
}

.img-medium {
     width: 300px;
     height: 450px;
     margin-left: 1000px;
     ;
}

.box1 {
    width: 800px;
    font-size: 25px;
    margin-bottom: 30px;
}



      /* Background cambiado, (se elije la ultima modificacion) */
      /* #arriba2{background: url(/clase_0/img/monumental.jpg);} */


.clientes {
    width: 300px;
}

.cursiva {
    font-family: cursive;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: normal;
}

.display {
    display: inline-block;
}

.margen-izq1{
    margin-left: 40px;
}
.margen-izq2{
    margin-left: 60px;
}

.productos {
    border: 3px solid black;
    width: 500px;
    height: 300px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;
}
    
.productos3 {
    border: 3px solid black;
    width: 500px;
    height: 300px;
    margin-left: 800px;
    top: 410px;
    display: inline-block;
    position: absolute;
    }

form {
    width: 300px;
    margin-left: 15px;
    
}



                            /* Página PRODUCTOS */


.inicio-presentacion-productos {
    display: inline-block;
    background-color: rgba(242, 203, 155, 0.637);
    height: 100%;
    width: 100%;
    
    
}

/* Velas - Grid */

.productos-compras {
    width: 100%;
    height: 100%;
    padding: 2rem 4%;
    background-color:rgba(242, 203, 155, 0.637);
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    .card-compra {
        height: 500px;
        width: 100%;
        background-color: rgba(239, 181, 211, 0.291);
        border-radius: 5px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
        transition: transform 0.5s;
    }

    .card-compra:hover {
        transform: scale(1.05);
        }
    
    .card-compra-tittle {
        width: 100%;
        padding: 10px;
        font-size: .80rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
    img{
        width: 100%;
        height: 400px;  
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }
    a.card-buttom {
        display: flex;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 110px;
        align-items: end;
        background-color:  rgb(243, 193, 133) ; 
        color:black; 
        padding: 10px 20px; 
        font-size: 16px; 
        border-radius: 5px; 
        cursor: pointer;

    }
    .card-buttom:hover{
        background-color: rgb(236, 173, 97);
    }
}

.card-compra-tittle h4 {
    font-size: 1.2rem;
}

                    /* Pagina GALERIA */


.galeria-presentacion{
    width: 100%;
    height: 100%;
    background-color: rgba(242, 203, 155, 0.637);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .galeria-video {
        display: flex;
        width: 75%;
        height: 550px;
        margin-top: 50px;
        align-items: center;
        flex-direction: column;
        border: 1px solid rgba(239, 181, 211, 0.711);
        border-radius: 20px;
        box-shadow: 1px 1px 5px rgba(0,0,0, .45);
        background-color:rgba(239, 181, 211, 0.291);
        
        video {
            display: inline-block;
            border: 1px;
            border-radius: 10px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .60);
            transition: 0.5s;
        }
        video:hover {
            transform: scale(1.05);
        }
    }

    /* Imagenes de galeria */

    .productos-galeria{
        width: 90%;
        height: 100%;
        padding: 2rem 4%;
        background-color:rgba(239, 181, 211, 0.291);
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 40px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px rgba(0,0,0, .45);
        
        
        .card-galeria {
            height: 100%;
            width: 100%;
            background-color: rgba(239, 181, 211, 0.291);
            border-radius: 5px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
            transition: transform 0.5s;
        }
        img{
            width: 100%;
            height: 100%;  
            object-fit: cover;
            border-radius: 5px 5px 0 0;
    }
    }
}






                        /* Pagina CONTACTO */


.Formulario-presentacion {
        width: 90%;
        height: 100%;
        padding: 2rem 4%;
        background-color:rgba(239, 181, 211, 0.291);
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px rgba(0,0,0, .45);

        form {
            background: url(/img/mas/vela1.jpg) center/cover no-repeat;
            height: 100%;
            width: 100%;
            color: black; /* Color del texto */
            font-size: 20px;
            text-align: center;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.5);
            font-weight: bolder;
        }

        label, h3{
            background-color: rgba(236, 186, 212, 0.474);
            color: black;
            padding: 2px;
            border-radius: 5px;
        }

        img{
            width: 100%;
            border-radius: 20px;
        }
}

                    /* Pagina Clientes  */

.reseñas-clientes {
        width: 90%;
        height: 100%;
        padding: 2rem 4%;
        background-color:rgba(239, 181, 211, 0.291);
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 40px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px rgba(0,0,0, .45);
    
        .reseña {
            position: relative;
            width: 300px;
            padding: 20px;
            background-color: #fbf8f8;
            border-radius: 10px;
            margin: 20px;
            transition: transform 0.5s;
        }

        .reseña:hover{
            transform: scale(1.05);
        }
        
        .nube {
            position: absolute;
            top: 100%;
            left: 20%;
            border: 10px solid transparent;
            border-top-color: #ffffff;
        }
    
}
                        /*  FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: rgb(242, 203, 155);
    box-shadow: 0  0 20px  rgba(0, 0, 0, .45);
    
}

                            /* Columna 1 */

.footer-column1 {
    display: flex;
    width: 33%;
    padding: 30px 0 0 40px;

    flex-direction: column;

}

.footer-lista a{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    
   
}

                    /* Columna 2 */

.footer-column2 {
    display: flex;
    width: 33%;
    flex-direction: column;
    padding: 20px;
}

.footer-column2 span{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: 15px;
}


.footer-column2 div a{
    display: inline-block;
    padding: 10px 0 0 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

                    /* Columna 3 */

.footer-column3 {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
}

.footer-column3 span{
    display: flex;
    font-size: 25px;
    margin-top: 15px;
    
}

.footer-column3 .footer-map {
    width: 60%;
}

.footer-column3 .footer-map iframe{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
}



        /* Estilo del botón */
        .mi-boton {
            background-color: #3498db; /* Color de fondo */
            color: #fff; /* Color del texto */
            padding: 10px 20px; /* Espaciado interno */
            font-size: 16px; /* Tamaño del texto */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados */
            cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
        }

        /* Cambia el color de fondo al pasar el ratón sobre el botón */
        .mi-boton:hover {
            background-color: #2980b9;
        }



/* Media queries */

@import "./partials/queries"




