@media (min-width:300px) and (max-width:1058){
    
    .nav{
        .icono_titulo{
            width: 70%;   
        }
    
            /* Check menu */
        label{
            display: block;
        }
    
        .nav1titulo{
            font-size: 25px;
        }
        .nav_lista{
            display: none;
    
        }
    
        #check-menu:checked~.nav_lista{
            position: absolute;
            
            left: 0;
            top: 60px;
            width: 100%;
            height: 250px;
            background-color: rgba(245, 213, 173, 0.923);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
    
    }

    
    
} 

@media (max-width:1058px){
    
    /* Navegador */
    .nav{
        .icono_titulo{
            width: 70%;   
        }
    
            /* Check menu */
        label{
            display: block;
        }
    
        .nav1titulo{
            font-size: 25px;
        }
        .nav_lista{
            display: none;
    
        }
        
        #check-menu:checked~.nav_lista{
            position: absolute;
            
            left: 0;
            top: 60px;
            width: 100%;
            height: 250px;
            background-color: rgba(245, 213, 173, 0.923);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
        }
    
    
    } 
    


    
    /* Productos */
    .productos-compras{
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* footer */
    footer {
        height: 300px;
    }

    .footer-column1{
        display: inline;
        width: 50%;
    }

    .footer-column2{
        display: inline;
        width: 50%;
    }

    .footer-column3{
        display:none;
    }
    
    /* Inicio */
    .inicio-presentacion {
        width: 100%;
        height: 100%;
        background-color: rgba(242, 203, 155, 0.637);
        display: flex;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .presentacion {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .presentacion-img{
                display: flex;
                margin: 0;
                
            }
            img {
                display: flex;  
                width: 250px;
                margin-bottom: 30px;
            }
            .presentacion-text {
                display: flex;
                background-color: white;
                width: 250px;
                border: 1px solid;
                border-radius: 20px;
            
            }
        }
    }

    /* Contacto */
    .Formulario-presentacion{
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
    }
    
    
    
} 

@media (max-width:850px){

    /* Clientes  */
    main{
        .reseñas-clientes{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    /* Galeria */
    .galeria-presentacion{
        .galeria-video{
            video {
                width: 80%;
            }
        }
        .productos-galeria{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width:1340px){
    .reseñas-clientes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:550px){
    
    /* Galeria */
        .galeria-presentacion{
            .productos-galeria{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    /* Productos */
        .productos-compras{
            grid-template-columns: repeat(1, 1fr);
        }

}
